@model bibliotecha.Models.Knjiga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Knjiga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.IdAutora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zanr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izdavac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izdavac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojStranica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojStranica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jezik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jezik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoricaKnjige)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoricaKnjige)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsjecnaOcjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsjecnaOcjena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKnjige">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
