@model IEnumerable<bibliotecha.Models.Posudba>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Primjerak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOnlinePosudbe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPreuzimanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokVracanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojProduzenja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Primjerak.IdPrimjerka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.IdKorisnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOnlinePosudbe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPreuzimanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokVracanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojProduzenja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPosudbe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPosudbe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPosudbe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
