@model bibliotecha.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojClanskeKartice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojClanskeKartice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZaposlenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZaposlenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRegistracije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRegistracije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uloga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uloga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKorisnika">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
